img {
  width: 100%;
}

* {
  /* font-family: "Lucida Console", Courier, monospace; */
  font-family: Stencil Std, fantasy !important;
}

h1 {
  text-align: center;
  color: #32a852;
}

h2 {
  text-align: center;
  color: #6ff542;
}